<%-include("header")-%>
<form action="/admin" method="post">
<div class="row">
  <div class="form-group col-md-2">
    <label><h3>Events</h3></label>
    <input type="text" name="events">
  </div>
</div>
<div class="row">
  <div class="form-group col-md-2">
    <label><h3>Position A</h3></label>
    <input type="text" name="positionA">
  </div>
  <div class="form-group col-md-2">
    <label><h3>Player A</h3></label>
    <input type="text" name="playerA">
  </div>
</div>
<div class="row">
  <div class="form-group col-md-2">
    <label><h3>Position B</h3></label>
    <input type="text" name="positionB">
  </div>
  <div class="form-group col-md-2">
    <label><h3>Player B</h3></label>
    <input type="text" name="playerB">
  </div>
  </div>
  <button type="submit" class="btn btn-primary" name="button">submit</button>
</form>

<%-include("footer")-%>
