<%-include("header")-%>
<h1>Contact</h1>
<form class="" action="mailto:rananitish25@gmail.com" method="post">
  <div class="row">
    <div class="form-group col-lg-2">
      <label>Name</label>
      <input type="text" name="name" value="">
  </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-3">
      <label>Message</label>
      <textarea name="message" rows="4" cols="50"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Email</button>
</form>
